.container {
  /* min-width: 720px; */
  /* width: 1240px; */
  text-align: left;
}

.appHeader,
.appDescription {
  text-align: center;
  margin-top: 0px;
}

.mainSection {
  display: flex;
  gap: 24px;
}

.resultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultActions {
  display: flex;
  gap: 16px;
}

.button {
  padding: 8px 48px;
}

.button.primary {
  background: #382bf0;
}

.contentMessage {
  text-align: center;
  margin: 64px 0;
  font-size: 20px;
}
